<div class="main">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Harf eşleştirme</h1>

        <p class="has-text-centered">
          <span
            [ngClass]="compare(letter, inputValue[i])"
            *ngFor="let letter of randomText.split(''); let i = index"
            >{{ letter }}</span
          >
        </p>
        <div class="field">
          <input
            class="input"
            (input)="getInputValue($any($event.target).value)"
          />
        </div>
        <div *ngIf="randomText === inputValue">
          <h1 class="title">Bravo!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
